

.inside
  background: #fff
  header
    box-shadow: 2px 2px 3px rgba(54, 55, 63, 0.13)
    padding-top: 15px
    padding-bottom: 13px
  &__header
    align-items: center    
    &__logo
      flex-basis: 30%
      text-align: center
      svg
        width: 143px
        height: 58px
    &__nav
      flex-basis: 40%
      li
        margin-left: 30px
        a
          color: $main
          font-family: "Oswald-SemiBold"
          font-size: 17px
          font-weight: 400
          text-transform: uppercase
          text-decoration: none
          transition: all 0.2s
          &:hover
            color: #ff80b2
    &__account
      max-width: 294px
      flex-shrink: 0
      position: relative
      display: flex
      margin-left: 90px
      .account       
        &__text
          align-self: flex-start
          margin-top: 23px
          color: $main
          font-family: 'Oswald'
          font-size: 19px
          &:hover
            cursor: pointer
        &__name
          line-height: 23px
        &__title
          line-height: 23px
          opacity: 0.65
        &__img
          align-self: center
          width: 73px
          height: 73px
          margin-left: 20px
          border-radius: 73px
          &:hover
            cursor: pointer
        &__arrow
          height: 9px
          width: 15px
          align-self: center
          margin-left: 18px
          svg
            width: 9px
            height: 15px
            fill: $main
            transform: rotate(-90deg)
          &:hover
            cursor: pointer
            svg
              fill: $activ
        &__list
          //display: none
          position: absolute
          top: calc(100% + 15px)
          left: 0
          width: 100%
          background: #fff
          box-shadow: 0 12px 27px rgba(0, 0, 0, 0.11)
          z-index: 90
          ul
            margin: 0
            padding: 34px 0 23px 30px
            list-style: none
            li
              margin-bottom: 19px
              a
                display: inline-block
                color: $main
                font-family: 'Oswald'
                font-size: 16px
                text-decoration: none
                span
                  margin-left: 20px
                &:hover
                  color: $activ
                  svg
                    fill: $activ
          svg
            width: 20px
            height: 20px
            fill: $main
            vertical-align: bottom

.filter-bar
  padding-top: 40px
  padding-bottom: 20px
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11)
  background-color: #f4f6f8
  .container
    //padding-left: 156px
    //padding-right: 195px
    justify-content: center
.filters
  display: flex
  //width: 800px
  //margin-left: auto
  &__block
    text-align: center
    width: 134px
    &.block-date
      width: 354px
      input
        width: 181px
    &-title
      margin-bottom: 7px
      color: $main
      font-family: 'Oswald'
      font-size: 15px
      font-weight: 300
      opacity: 0.48
    &-control
      display: flex
      align-items: center
      justify-content: center
  &__input
    position: relative
    color: $main
    font-family: 'Oswald'
    font-size: 15px
    font-weight: 700
    &.input-period
      width: 116px
      border-radius: 22px
      overflow: hidden
      background: url('../img/arrow-down.png') right 10px center no-repeat
      box-shadow: 0 3px 8px rgba(54, 55, 63, 0.18)
      .filters__input-img
        right: 15px
        line-height: 44px
      svg
        transform: rotate(-90deg)
        width: 7px
        height: 11px
    input
      width: 116px
      margin-left: 4px
      margin-right: 4px        
      padding: 9px 34px 11px
      border-radius: 22px
      border: 1px solid #ebebeb
      box-shadow: 0 3px 8px rgba(54, 55, 63, 0.18)
      //color: $main
      font-family: 'Oswald'
      font-size: 15px
      font-weight: 700
      opacity: 1
    &.input-date
      input
        width: 200px
        text-align: center
    select
      position: relative
      height: 44px
      width: 100%
      padding: 8px 34px 10px
      border-radius: 22px
      appearance: none
      border: 1px solid #ebebeb
      box-shadow: 0 3px 8px rgba(54, 55, 63, 0.18)
      //color: $main
      font-family: 'Oswald'
      font-size: 15px
      font-weight: 700            
    &-img
      position: absolute
      width: 18px
      height: 100%
      top: 0
      right: 19px
      svg
        width: 100%
        height: 100%
      &:hover
        cursor: pointer
        svg
          fill: $activ  
  &__btn
    height: 44px
    width: 44px
    border-radius: 44px
    border: 1px solid #ebebeb
    box-shadow: 0 3px 8px rgba(54, 55, 63, 0.18)
    background-color: #ffffff    
    text-align: center
    line-height: 44px
    &:hover
      cursor: pointer
      //border: 1px solid $activ
      box-shadow: 0 3px 8px rgba($activ, 0.4)
      svg
        fill: $activ
    svg
      width: 12px
      height: 12px
      fill: $main

.arrow-right
  svg
    transform: rotate(180deg)


.mainblock
  background: #fbfbfb
  &__wrapper
    width: 1092px
    margin: 0 auto
    display: flex
  .container
    //padding-left: 156px
    //padding-right: 195px

.sidebar
  width: 289px
  ul
    padding: 0
    margin: 26px 26px 0 0
    list-style: none
    li
      padding: 11px 50px 13px 18px
      border-left: 4px solid transparent
      color: #7e8389
      font-family: 'Oswald'
      font-size: 16px
      transition: all 0.4s
      &:hover
        cursor: pointer
        background-color: rgba(#ff80b1, 0.07)
        //border-left: 4px solid #ff80b1
.sidebar-active
  background-color: rgba(#ff80b1, 0.15)
  border-left: 4px solid #ff80b1 !important

.shedule
  display: flex
  width: 800px
  padding: 0 62px 60px 62px
  margin-bottom: 160px
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.11)
  border-radius: 0 0 9px 9px
  background-color: #ffffff
.timeline
  width: 54px
  ul
    margin: 0
    padding: 0
    list-style: none
    li
      padding-top: 27px
      padding-bottom: 27px
      border-bottom: 2px solid lighten($main, 40%)
      color: $main
      font-family: 'Oswald'
      font-size: 15px
      font-weight: 700
      text-transform: uppercase
      text-align: center

.shedule-cards
  width: 100%
  &__card
    display: flex
    align-items: center
    //height: 118px
    border-bottom: 2px solid lighten($main, 40%)
.card
  &__img
    max-width: 64px
    width: 100%
    padding-left: 20px
    padding-right: 12px

  &__text
    display: flex
    flex-direction: column
    justify-content: center
    max-width: 226px
    width: 100%
    //flex-basis: 226px
    //flex-shrink: 0
    font-weight: 300
  &__time
    color: $activ
    font-family: 'Oswald'
    font-size: 15px    
  &__client
    color: $main
    font-family: 'Oswald'
    font-size: 15px
    font-weight: 400
  &__service
    opacity: 0.51
    color: $main
    font-family: 'Oswald'
    font-size: 15px
  &__price
    max-width: 175px
    width: 100%
    //flex-basis: 175px
    //flex-shrink: 0
    span
      color: $main
      font-family: 'Oswald'
      font-size: 15px
      font-weight: 700
  &__check
    //display: none
    input
      display: none
      & + label
        position: relative
        display: block
        padding-left: 27px
        color: $main
        font-family: 'Oswald'
        font-size: 14px
        font-weight: 300
        &:before
          position: absolute
          content: ''
          width: 16px
          height: 16px
          left: 0
          top: 3px
          box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.13)
          border: 1px solid rgba($main, 0.25)
        &:hover
          cursor: pointer
          color: $activ
      &:checked + label:before
        content: "\2713"
        text-shadow: 1px 1px 1px rgba(0, 0, 0, .2)
        font-size: 15px
        color: $activ
        text-align: center
        line-height: 15px      
  &__buttons

    //flex-basis: 160px
    //flex-shrink: 0
    .buttons__block
      display: flex
      
      div
        width: 36px
        height: 36px
        margin-right: 7px
        border-radius: 36px
        border: 1px solid $main
        text-align: center
        line-height: 40px
        &:hover
          cursor: pointer
          border: 1px solid $activ
          svg
            fill: $activ
      svg
        width: 18px
        height: 18px
        fill: $main  
