.window-info-client
	position: relative
	margin: auto
	width: 657px
	height: 672px
	padding: 40px 90px
	box-shadow: 0 2px 46px rgba(46, 50, 58, 0.11)
	background-color: #ffffff
	&__title
		color: $main
		font-size: 21px
		font-weight: 400
		text-transform: uppercase
		text-align: center